@tailwind base;
@tailwind components;
@tailwind utilities;

.description-container {
    max-height: 700px; 
    overflow-y: auto; 
    white-space: pre-wrap; 
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .site-content {
    flex-grow: 1;
  }